%nav.pagination.is-centered{"aria-label" => "pagination", :role => "navigation"}
  %a.pagination-previous Previous
  %a.pagination-next Next page
  %ul.pagination-list
    %li
      %a.pagination-link.is-current{"aria-current" => "page", "aria-label" => "Page 46"} 1
    %li
      %a.pagination-link{"aria-label" => "Goto page 2"} 2
    %li
      %a.pagination-link{"aria-label" => "Goto page 3"} 3
    %li
      %a.pagination-link{"aria-label" => "Goto page 4"} 4
    %li
      %a.pagination-link{"aria-label" => "Goto page 5"} 5
