%section.hero
  .hero-body
    .container
      .level
        .level-left
          .level-item
            .title Mi publicación
      .columns
        = render template: 'shared/dashboard/_breadcrumb'
      = @advertisement.inspect
