%section.hero
  .hero-body
    .container
      .panel
        %a{:href => ""}
          .panel-heading
            .level
              .level-left
                %header
                  .title Xerena Av Toluca Pre - Venta
          .selloption.panel-block
            .media
              .media-left
                %p.image
                  %img{:alt => "", :src => "https://placehold.it/180x120"}
              .media-content
                .content
                  %h4 Avenida Toluca 109, Olivar de los Padres, Alvaro Obregón
                  %h5 $ 4,734,814
                  %p Conjunto residencial exclusivo de sólo 17 en 4 niveles departamentos ubicados en la Colonia San Ángel Inn, en la Ciudad de México. Tenemos 2 accesos, uno sobre Av. Toluca y otro sobre la calle de Veracruz.

      .panel
        %a{:href => ""}
          .panel-heading
            .level
              .level-left
                %header
                  .title Venta Departamento en Polanco
          .selloption.panel-block
            .media
              .media-left
                %p.image
                  %img{:alt => "", :src => "https://placehold.it/180x120"}
              .media-content
                .content
                  %h4 Musset 316, Polanco, Miguel Hidalgo
                  %h5 $ 15,900,000
                  %p Departamento en edificio pequeño, tranquilo, interior. La calle donde se encuentra es ancha, tranquila, a media cuadra de Homero. Son dos niveles, con acabados de lujo y en excelentes condiciones. Doble altura en la sala. Son solo 8 departamentos en el edificio, ubicado en una de las calles más tranquilas de Polanco. Consta de 3 recámaras, cada una con su baño completo; la principal con balcón. También cuenta con sala de tv, cuarto de servicio y área de lavado; estos dos últimos se encuentran en la azotea totalmente independientes al departamento comunicados por interfon.

      = render template: 'shared/_pagination'
