%main.column.main
  %nav.breadcrumb.is-small{"aria-label" => "breadcrumbs"}
    %ul
      %li
        %a{:href => dashboards_path}
          %span.icon.is-small
            %i.fa.fas.fa-home{"aria-hidden" => "true"}
          %span Dashboard
      %li
        %a{:href => advertisements_path}
          %span.icon.is-small
            %i.fa.fas.fa-book{"aria-hidden" => "true"}
          %span Publicaciones
